name: Tolgee Download translations

on: workflow_dispatch
permissions:
  contents: write

jobs:
  translations:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Pull translations
      env:
        TOLGEE_URL: ${{ secrets.TOLGEE_URL }}
        TOLGEE_KEY: ${{ secrets.TOLGEE_KEY }}
      run: npx --yes @tolgee/cli -au $TOLGEE_URL -ak $TOLGEE_KEY pull
    - name: Commit new translations
      run: |
        git config --global user.name 'tolgee-bot'
        git config --global user.email 'bastiaanv@users.noreply.github.com'
        git commit -am "[Tolgee]: update translations"
        git push