name: Tolgee Upload translations

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    paths: ["AccuChekUI/Localizable.xcstrings"]

jobs:
  translations:
    if: github.actor != 'tolgee-bot'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Push translations
      env:
        TOLGEE_URL: ${{ secrets.TOLGEE_URL }}
        TOLGEE_KEY: ${{ secrets.TOLGEE_KEY }}
      run: npx --yes @tolgee/cli -au $TOLGEE_URL -ak $TOLGEE_KEY push
